<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <script src="../static/home.js"></script>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="shortcut icon" href="./static/sofaking.png">
</head>
<body onload = "display_account_info()">
    <div class = "hero">
        <div id = "nav">
            {% if not session.logged_in %}
                <a onclick = "openRegister()">Register</a>
                <a onclick = "openLogin()">Login</a>
            {% else %}
                <a onclick = "logout()">Logout</a>
            {% endif %}
            <a onclick = "openAbout()">About</a>
            <a onclick = "openSearch()">Search</a>
            {% if session.logged_in %}
                <a onclick = "openAccount()">Account</a>
                <a id = "cartLink" onclick = "openCart()">Cart</a>
            {% endif %}
        </div>
        <h1 id = "title">The Sofa King Store</h1>
        <div class = "main">
            <h1>Account Info</h1>
            <img id = "logo_image" src = "../static/user.png" alt = "company logo">
            <p id = "account-username">Username: </p>
            <p id = "account-email">Email: </p>
            <button onclick = "logout()">Log Out</button>
        </div>
    </div>
</body>
</html>