<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <script src="../static/home.js"></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class = "hero">
        <div id = "nav">
            <a onclick = "openRegister()">Register</a>
            <a onclick = "openLogin()">Login</a>
            <a onclick = "Refresh()">Search</a>
        </div>
        <div class = "main">
            <h1>Register</h1>
            <img id = "logo_image" src = "../static/scarychair.jpg" alt = "company logo">
            <label for = "register-username">Username: </label>
            <input type = "text" id = "register-username" name = "username" placeholder = "Enter Username">
            <br><br>
            <label for = "register-password">Password: </label>
            <input type = "password" id = "register-password" name = "password" placeholder = "Enter Password">
            <br><br>
            <label for = "register-email">Email: </label>
            <input type = "email" id = "register-email" name = "email" placeholder = "Enter Email">
            <br><br>
            <div>
                <!--<button onclick = "showNames()">Click for all names!</button> -->
                <button onclick = "Register()">Register</button>
            </div>
            <p id = "mainfooter">Existing User? <a onclick = "openLogin()">Log in!</a></p>
        </div>
    </div>
</body>
</html>